body{
    font-family: 'Raleway', sans-serif;
    color: var(--text-color);
    background-color:  var(--bg-color);

}

:root{
    --text-color:#434455;
    --main-color:#4D5AE5;
    --bg-color:#FFFFFF;
    --span: #2e2f42;
    
}

.hero{
    background-color: var(--span);
}

.hero-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0,02em;
    color: #FFFFFF;

}

.hero-btn{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;


}

.hero-btn:hover,:focus{
    background-color: #404BBF;
    cursor: pointer;
}
.link{
    font-family: "Raleway", sans-serif,;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--main-color);
    text-decoration: none;

}

.logo-text{
    color:var(--span)

}


a{
    color: inherit;
}

.contacts-item{
    color: #434455;

}

.list{
    list-style: none;
}
.portfolio-btn{
    background-color: #E7E9FC;
    color:var(--main-color);
    cursor: pointer;
}

.portfolio-btn:hover{
    background-color:var(--main-color);
    color:#fff;
    
}


.menu-item:hover,:focus{
    background-color:var(--main-color);


}

.contacts-item:hover,:focus{
    background-color:var(--main-color);

}

.portfolio-item__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-item__description{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}